* {
  background-color: #3e0da6;
}

h1 {
  font-size: 60px;
  font-family: 'Arial';
  position: sticky;
  margin-left: 800px;
  color: white;
}

.tab {
  background-image: none;
  background-color: blue;
  
  display: inline-block;
}

.tab a {
  background-image: none;
  background-color: black;
  text-decoration: none;
  font-family: "Arial";
  color: white;
  font-size: 50px;
  margin-left: 50px;
  padding: 15px;
  border-radius: 5px;
}

.tab a:active {
  color: #470008;
}

.tab a:hover {
  color: #de046a;
}
